<!DOCTYPE html>
<html lang="en">
<head>
    <link href="assets/style.css" type="text/css" rel="stylesheet">
    <title>Perfil <%= ID %></title>
</head>
<body>
    <h1>Persona: <%= ID %></h1>
</body>
</html>